aliyun-python-sdk-kms==2.5.0
aliyun-python-sdk-rds==2.3.2
aliyun-python-sdk-drds==2.5.0
aliyun-python-sdk-alidns==2.0.7
aliyun-python-sdk-bssopenapi==1.1.0
aliyun-python-sdk-core==2.12.0
aliyun-python-sdk-core-v3==2.13.0
aliyun-python-sdk-cs==2.9.0
aliyun-python-sdk-ecs==4.16.0
aliyun-python-sdk-ram==3.0.0
aliyun-python-sdk-slb==3.2.7
aliyun-python-sdk-vpc==3.0.3
aliyun-python-sdk-ons==3.1.1
aliyun-python-sdk-pvtz==1.0.1
aliyun-python-sdk-r-kvstore==2.0.5
aliyun-log-python-sdk==0.6.45
kubernetes==9.0.0
PyYAML==5.1
oss2==2.6.1
httpretty==0.9.6
jmespath==0.9.3
six==1.12.0
